header {
    background: url("https://images.pexels.com/photos/260447/pexels-photo-260447.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
.gym {
    background-color: #dd4814;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    border-radius: 20px;
    opacity: .9;
}
button {
    background-color: rgb(78, 78, 209);
    color: white;
    padding: 20px;
    font-size: 2em;
    border-radius: 10px;
}
h1 {
    font-size: 4em;
}
p {
    font-size: 1.8em;
}